*{
    margin:0;
    padding:0;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color:white;
    height: 25vh;
    width: 100%;
    background-image: url(./img/teste1.jpg);
    background-size:cover;
    background-position: center;
    image-resolution: pixelated;
}
header p{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

header li{
    padding:10px 10px;

}

body{
    height: 150vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left  ;
    background-image: url(./img/Wood.jpg);
}

body h1{
    font-family: sans-serif;
    color:white;
    text-align: center;
    text-shadow:
    -0.07rem -0.07rem 0 black,
     0rem  -0.07rem  0 black,
     0.07rem -0.07rem 0 black,
    -0.07rem  0rem   0 black,
     0.07rem  0rem   0 black,
    -0.07rem  0.07rem 0 black,
     0rem  0.07rem   0 black,
     0.07rem  0.07rem 0 black;
}